.stock-details {
    background-color: black;
    border-radius: 5px;
    margin: auto;
    width: 50%;
}

.highlighted {
    text-align: right;
    padding-right: 22% !important;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
}

.headings {
    width: 60%;
    background: -webkit-linear-gradient(right, rgb(0, 245, 166), #90329a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0%;
}

hr {
    margin-top: 0%;
    height: 3px;
    background-color: #703030;
}

.new-outbound-modal {
    opacity: .97;
    display: none;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(27, 26, 26);
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.4s;
    animation-name: zoom;
    animation-duration: 0.4s;
}

.close-form {
    position: absolute;
    top: 5%;
    right: 3%;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    opacity: .75;
}

.close-form:hover {
    opacity: 1;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}